Repository fbsamples/caldera-security-tests, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/cmd, area/docs, area/magefiles, area/go

Update go mods
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles, area/go

Refactored pre-commit hooks
  .hooks/generate-docs.sh
  .hooks/go-licenses.sh
  .hooks/go-no-replacement.sh
  .hooks/go-vet.sh
  .hooks/linters/mdstyle.rb
  .hooks/linters/yamllint.yaml
  .hooks/prettier.sh
  .hooks/run-go-tests.sh
  .pre-commit-config.yaml
  cmd/README.md
  cmd/storedXSSDos.go
  go.mod
  magefiles/README.md
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
  magefiles/testing.go
  magefiles/tmpl/README.md.tmpl
Labels: area/pre-commit, area/cmd, area/magefiles, area/go

Add go-copyright pc hook and updated existing custom hooks
  .editorconfig
  .hooks/generate-docs.sh
  .hooks/go-copyright.sh
  .hooks/go-licenses.sh
  .hooks/go-unit-tests.sh
  .hooks/go-vet.sh
  .hooks/run-go-tests.sh
  .pre-commit-config.yaml
Labels: area/pre-commit

Add missing copyright headers; remove old hook
  .pre-commit-config.yaml
  cmd/storedXSSDos.go
  magefiles/README.md
  magefiles/magefile.go
  magefiles/testing.go
Labels: area/pre-commit, area/cmd, area/magefiles

Update github actions to go1.22
  .github/workflows/baseline.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/srp.yaml
  .github/workflows/tests.yaml
Labels: area/github

Remove busted codeql action
  .github/workflows/codeql-analysis.yaml
Labels: area/github

Updated go mods
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles, area/go

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: ".pre-commit-config.yaml"
      - any-glob-to-any-file: ".hooks/**/*"

area/cmd:
  - changed-files:
      - any-glob-to-any-file: "cmd/**/*.go"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/*"

area/magefiles:
  - changed-files:
      - any-glob-to-any-file: "magefiles/*"

area/go:
  - changed-files:
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"
